{{!-- 
  views/error.hbs - Error Page Template
  
  This template is displayed when a server error occurs.
--}}

<div class="error-message">
  <h1>Error</h1>
  <p>{{message}}</p>
  <a href="/" class="btn btn-primary">Go to Homepage</a>
</div>

